p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0px;
}    
.video-title{
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom:5px;
}

.video-stats{

    font-size: 14px;
    color:rgb(96, 96, 96);
    margin-bottom: 20px;
}

.video-author{

    font-size: 14px;
    color:rgb(96, 96, 96);
    margin-bottom: 20px;
}

.video-desc{

    font-size: 14px;
    color:rgb(96, 96, 96);
    width: 270px;
    line-height: 22px;
    margin-bottom: 100px;
}

.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color:white;
    padding:18px;
    text-align: center;
}
.shop-link{
    margin-left: 20px;
}
.shop-link:hover{
    cursor:pointer;
    text-decoration: underline;
}
    
.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;

    margin-right: 8px;
    margin-left: 20px;

    cursor: pointer;

    transition: opacity 0.2s;
    vertical-align: top;
}
.subscribe-button:hover {
    opacity:0.8;
}

    .subscribe-button:active {
    opacity:0.5;
}

.join-button{
    background-color: white;
    border-color: rgb(24, 109, 207);
    border-style: solid;
    border-width: 1px;
    color:rgb(24, 109, 207);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.2s, color 0.2s;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
}

.join-button:hover{
    background-color: rgb(24, 109, 207);
    color:white;
}

.join-button:active{
    opacity:0.7;
}

.tweet-button{
    background-color: rgb(96, 157, 241);
    color: white;
    border: none;

    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;

    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    vertical-align: top;
}

.tweet-button:hover{
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
}


