.external-div{
    display:flex;
}

.pink-div{
    display:flex;
    background-color: lightcoral;
    height: 70px;
    width: 100px;
    justify-content: center;
    align-items : center ;

}

.div3{
    background-color: black;
    color:white;
}

.blue-div{
    display:flex;
    background-color: lightblue;
    width: 200px;
    flex-direction: column;
}

.div4{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}