body{
    font-family: Arial;
}
p{
    margin:2px;
}
.header{
    font-size:15px;
    color:rgb(172, 172, 172);
}
.external-div{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 500px;
    padding-bottom:17px;
    padding-left:10px;
    padding-right:10px;
    padding-top:7px;
    
}

.internal-div{
    display: flex;
    align-items: center;
    margin-top:18px;
    margin-bottom:8px;
}


.profile-pic{
    height:50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
    margin-left:10px;
    margin-right:10px;
}
.info-div{
    width: 470px;
}
.from-div{
    display: flex;
    justify-content: space-between;
    margin:3px 0px;
}

.from{
    font-weight: bold;
    font-size:17px;
}

.topic{
    font-weight: bold;
}

.time{
    color:rgb(172, 172, 172);
}

.message{
    color:rgb(127, 127, 127);
}