body{
    font-family: Arial;
}
p{
    margin:0;
}

.external-div{
    display:flex;
    width: 460px;
    align-items: top;
}

.names-div{
    display: flex;
    margin-bottom: 7px;
}

.bold-username{
    font-weight: bold;
    margin-right:3px;
}
.thin-username{
    color:grey;
}

.tweet-text{
    margin-bottom: 10px;
}


.profile-pic{
    height:50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;

    margin-left:10px;
    margin-right:10px;
}


.ref-div{
    display: flex;
    border:solid;
    border-width: 1px;
    border-color: rgb(197, 197, 197);
    border-radius: 10px;
    height: 90px;
}

.yt{
    color:grey;
    margin-bottom:3px;
    margin-top:10px;
}

.pic-placeholder{
    width: 100px;
    background-color: rgb(214, 214, 214);
    border-radius: 8px;
}

.white-space-div{
    background-color:white;
    margin:-10px
}

.video-title{
    background-color:rgb(255, 255, 255);
    padding-left:10px;
    width: 250px;
}