body{
    background-color: grey;
}
.heading{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.photo-name{
    display: flex;
    align-items: center;
}

img{
    height:40px;
    width: 40px;
    border-radius: 30px;
    object-fit: cover;
    margin-left:100px;
    margin-right: 13px;
}

p{
    font-family: Arial;
    font-weight: bold;
}

.buttons{
    margin-right:100px;
}

.friend-button{
    font-weight: bold;
    padding:9px 12px;
    border-radius: 5px;
    border:none;
    background-color: rgb(64, 130, 223);
    color:white;
    width: 100px;
}

.message-button{
    font-weight: bold;
    padding:9px 12px;
    border-radius: 5px;
    border:none;
    background-color: rgb(218, 218, 218);
    width: 100px;
}