p{
    margin:0;
    font-family: Arial;
}
.sidebar1{
    display:flex;
    position:fixed;
    background-color: rgb(47, 47, 47);
    top:0;
    left:0;
    bottom:0;
    width: 90px;
    justify-content: start;
    flex-direction : column;
    align-items:center;
    
}

img{
    height:60px;
    width: 60px;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom:7px;
}

.cat1{
    margin-top:10px;
}

.sidebar2{
    display: flex;
    position: fixed;
    background-color: rgba(47, 47, 47, 0.9);
    top: 0;
    left: 90px;
    bottom: 0;
    width: 200px;
    justify-content: start;
    flex-direction : column;
    align-items: start;
}
.info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top:8px;
    
}

.plus-sign{
    font-size: 30px;
    margin-right:12px;
    color:rgb(159, 159, 159);
}

.info-p{
    font-size: 16px;
    margin-left:12px;
    font-weight: 500;
    color:white;
}

.hashtag{
    color:rgb(159, 159, 159);
    margin-top:10px;
    margin-bottom:13px;
    margin-left:20px;
}
