.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 230, 230);
    z-index: 100;
}

.left-section{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
}

.middle-section{
    display: flex;
    flex: 1;
    align-items: center;
    margin-left:70px;
    margin-right:35px;
    max-width: 500px;
}

.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style:solid;
    border-color:rgb(195, 195, 195);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width:0;
}

.search-bar::placeholder{
    font-family: Roboro, Arial;
    font-size: 16px;
}

.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(246, 246, 246);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(195, 195, 195);
    margin-left: -1px;
    margin-right: 10px;
}

.search-icon{
    height: 25px;
    margin-top: 4px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border:none;
    background-color: rgb(246, 246, 246);
}

.voice-search-icon{
    height: 24px;
    margin-top:4px;
}
.right-section{
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}

.notifications-icon-container{
    position: relative;
    height: 24px;
}

.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(217, 1, 1);
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding:2px 5px;
    border-radius: 10px;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}




