p{
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 24px;
    background-color: rgb(246, 246, 246);
}