
.thumbnail{
    width: 100%;
}

.video-title{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}


.profile-picture{
    width: 36px;
    border-radius: 50px;
    margin-bottom:0px;
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.video-author,
.video-stats{
    font-size: 12px;
    color:rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 4px;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (min-width:1300px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .video-title{
        font-size: 16px;
        line-height: 24px;
    }

    .video-author,
    .video-stats{
    font-size: 14px;
    }
}

@media (max-width:900px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:600px) {
    .video-grid{
        grid-template-columns: 1fr;
    }
}

.video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    border-radius: 3px;
    background-color: black;
    color:white;
    position:absolute;
    bottom: 13px;
    right: 4px;
}

.video-link {
    color:black;
    text-decoration: none;
}


.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture-container{
    position: relative;
    display: flex;
    cursor:pointer;
}
.profile-picture-tip{
    width: 50px;
    border-radius: 50px;
    margin-right: 14px;
}
.channel-picture-container .channel-tip{
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor:pointer;
    box-shadow : 0px 0px 3px rgba( 0 , 0 , 0 , 0.15 );
    padding:15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 100;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    opacity: 0;
    margin-top:40px;
}

.channel-picture-container:hover .channel-tip{
    opacity: 1;
}

.channel-tip .name{
    font-weight: 600;
    margin-bottom:5px;
}