@media (max-width:1200px) {.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:55px;
    background-color: white;
    width:75px;
    z-index: 200;
    padding-top:5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.sidebar-link:hover{
    background-color: rgb(236, 236, 236);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 10px;
}}

@media (min-width:1200.1px) {
    .sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:55px;
    background-color: white;
    width:200px;
    z-index: 200;
    padding-top:5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    cursor:pointer;
    margin-left:12px;
}

.sidebar-link:hover{
    background-color: rgb(236, 236, 236);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 15px;
    margin-left:12px;
}}
