a{
    color: rgb(4, 231, 38);
}
a:hover{
    color:rgb(226, 11, 11);
}

.nike-p{
    font-size: 25px;
    font-weight: bold;
}

.price-p{
    color: rgb(0, 118, 0);
    font-size: 16px;
    font-weight: bold;
}
.cart-button{
    background-color: rgb(255, 216, 20);
    color: black;
    height: 30px;
    width: 110px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.2s;
}

.cart-button:hover{
    background-color: rgb(227, 192, 17);
}

.cart-button:active{
    opacity:0.7;
}

    .buy-button{
    background-color: rgb(255, 164, 28);
    color: black;
    height: 30px;
    width: 110px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.2s;
}

    .buy-button:hover{
    background-color: rgb(223, 143, 24);
}

    .buy-button:active{
    opacity:0.7;
}